<div class="row justify-content-center">
	<div class="col-5">
		<div class='card mr-auto '>
			<div class="card-header text-center">
				<h2>Your verification link</h2>
			</div>
			<div class="card-body">
				<div class="card-title">
          <!-- Chane name to from data -->
          <h2 class="text-center"><%=name%></h2>
          <h4>Welcome to the Hacking School and we are happy to have you with us </h4>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem deserunt repudiandae cumque labore iste hic.</p>
        <p>Plesase click at the link to register your email</p>
        <!-- change href to link address -->
        <a href="<%= verifyUrl%>" class="btn btn-block btn-primary">Verify</a>
			</div>
		</div>
	</div>
</div>