
<div class="row justify-content-center">
	<div class="col-5">
		<div class='card mr-auto '>
			<div class="card-header text-center">
				<h2>Reset your password</h2>
			</div>
			<div class="card-body">
							<div class="alert alert-info">
								<p class="m-0">Enter your e-mail below and we will send you reset instructions!</p>
							</div>

							<form action="/forgot" method="POST">
								<div class="form-group mb-0">
									<div class="input-group">
										<input name="email" type="email" placeholder="E-mail" class="form-control form-control-lg" />
										<span class="input-group-append">
											<button class="btn btn-primary btn-lg" type="submit">Reset!</button>
										</span>
									</div>
								</div>

								<p class="text-center mt-3">Remembered? <a href="'/signin'">Sign In!</a></p>
							</form>
						</div>
		</div>
	</div>
</div>
