<!-- @format -->

<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs')%>

<body>

  <%- include('./partials/navbar.ejs')%>

  <div class="pt-2"><%- body %></div>

  <%- include('./partials/footer.ejs')%>


</body>


</html>